= simple_form_for(@supplier_order_request_line, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :revision_no
    = f.association :supplier_order_request
    = f.association :campaign_schedule_placement
    = f.input :order_gross_amount
    = f.input :order_commission_amount
    = f.input :order_nett_amount
    = f.input :commission_percent
    = f.input :eis_sync_date
    = f.input :order_gross_amount_home
    = f.input :order_commission_amount_home
    = f.input :order_nett_amount_home
    = f.input :is_active
    = f.input :is_changed_in_current_revision
    = f.input :revision_change_details
    = f.input :change_reason
    = f.input :notes

  .form-actions
    = f.button :wrapped,
               :delete => @supplier_order_request_line,
               :cancel => supplier_order_request_lines_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
