.page-header
  %h3
    Creative_agency_chase_lists
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to creative_agency_chase_lists_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_creative_agency_chase_list_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li
        = link_to @creative_agency_chase_list do
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#edit", :"data-toggle" => "tab"}
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #edit.tab-pane.active
        = render 'form'
