= simple_form_for(@production_supplier_financial_document_status, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.input :is_active
    = f.input :is_cancelled
    = f.input :is_finalised
    = f.input :is_approved
    = f.input :is_default
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @production_supplier_financial_document_status,
               :cancel => production_supplier_financial_document_statuses_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
