= simple_form_for(@client_financial_document, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :code_external
    = f.association :company
    = f.association :company_division
    = f.association :client
    = f.association :client_product
    = f.association :contact
    = f.association :campaign
    = f.association :campaign_schedule
    = f.association :owner_user
    = f.association :currency
    = f.association :creation_source
    = f.association :status
    = f.association :communication_status
    = f.input :actual_date
    = f.input :posting_date
    = f.input :cost_gross_amount
    = f.input :cost_commission_amount
    = f.input :cost_nett_amount
    = f.input :cost_gross_home_amount
    = f.input :cost_commission_home_amount
    = f.input :cost_nett_home_amount
    = f.input :production_costs_amount
    = f.input :production_costs_home_amount
    = f.input :production_costs_margin_amount
    = f.input :production_costs_margin_home_amount
    = f.input :gross_amount
    = f.input :commission_amount
    = f.input :fees_amount
    = f.input :production_costs_with_margin_amount
    = f.input :nett_amount
    = f.input :nett_inc_tax_amount
    = f.input :gross_home_amount
    = f.input :commission_home_amount
    = f.input :fees_home_amount
    = f.input :production_costs_with_margin_home_amount
    = f.input :nett_home_amount
    = f.input :nett_inc_tax_home_amount
    = f.association :tax_type
    = f.input :tax_gross_amount
    = f.input :tax_nett_amount
    = f.input :exchange_rate
    = f.input :notes
    = f.input :status_reason
    = f.input :grid_layout_x_m_l
    = f.input :eis_sync_date
    = f.input :rate_card_unit_cost_gross
    = f.input :rate_card_unit_cost_gross_home
    = f.input :rate_card_unit_cost_nett
    = f.input :rate_card_unit_cost_nett_home
    = f.input :rate_card_cost_gross
    = f.input :rate_card_cost_gross_home
    = f.input :rate_card_cost_nett
    = f.input :rate_card_cost_nett_home
    = f.input :commission_agency_amount
    = f.input :commission_agency_home_amount
    = f.input :effective_discount_amount
    = f.input :effective_discount_home_amount
    = f.input :effective_discount_to_client_amount
    = f.input :effective_discount_to_client_home_amount
    = f.association :client_purchase_order
    = f.input :cost_minimum_intermediary_margin_percentage
    = f.input :cost_minimum_intermediary_margin_amount
    = f.input :cost_minimum_intermediary_margin_home_amount
    = f.input :actual_cost_nett
    = f.input :actual_cost_nett_home
    = f.association :company_cost_centre

  .form-actions
    = f.button :wrapped,
               :delete => @client_financial_document,
               :cancel => client_financial_documents_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
