.page-header
  %h3
    Client_financial_documents
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to client_financial_documents_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_client_financial_document_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_client_financial_document_path(@client_financial_document) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @client_financial_document.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @client_financial_document.code
        .row-fluid
          .span2
            %b
              Code external
          .span10
            = @client_financial_document.code_external
        .row-fluid
          .span2
            %b
              Company
          .span10
            = @client_financial_document.company
        .row-fluid
          .span2
            %b
              Company division
          .span10
            = @client_financial_document.company_division
        .row-fluid
          .span2
            %b
              Client
          .span10
            = @client_financial_document.client
        .row-fluid
          .span2
            %b
              Client product
          .span10
            = @client_financial_document.client_product
        .row-fluid
          .span2
            %b
              Contact
          .span10
            = @client_financial_document.contact
        .row-fluid
          .span2
            %b
              Campaign
          .span10
            = @client_financial_document.campaign
        .row-fluid
          .span2
            %b
              Campaign schedule
          .span10
            = @client_financial_document.campaign_schedule
        .row-fluid
          .span2
            %b
              Owner user
          .span10
            = @client_financial_document.owner_user
        .row-fluid
          .span2
            %b
              Currency
          .span10
            = @client_financial_document.currency
        .row-fluid
          .span2
            %b
              Creation source
          .span10
            = @client_financial_document.creation_source
        .row-fluid
          .span2
            %b
              Status
          .span10
            = @client_financial_document.status
        .row-fluid
          .span2
            %b
              Communication status
          .span10
            = @client_financial_document.communication_status
        .row-fluid
          .span2
            %b
              Actual date
          .span10
            = @client_financial_document.actual_date
        .row-fluid
          .span2
            %b
              Posting date
          .span10
            = @client_financial_document.posting_date
        .row-fluid
          .span2
            %b
              Cost gross amount
          .span10
            = @client_financial_document.cost_gross_amount
        .row-fluid
          .span2
            %b
              Cost commission amount
          .span10
            = @client_financial_document.cost_commission_amount
        .row-fluid
          .span2
            %b
              Cost nett amount
          .span10
            = @client_financial_document.cost_nett_amount
        .row-fluid
          .span2
            %b
              Cost gross home amount
          .span10
            = @client_financial_document.cost_gross_home_amount
        .row-fluid
          .span2
            %b
              Cost commission home amount
          .span10
            = @client_financial_document.cost_commission_home_amount
        .row-fluid
          .span2
            %b
              Cost nett home amount
          .span10
            = @client_financial_document.cost_nett_home_amount
        .row-fluid
          .span2
            %b
              Production costs amount
          .span10
            = @client_financial_document.production_costs_amount
        .row-fluid
          .span2
            %b
              Production costs home amount
          .span10
            = @client_financial_document.production_costs_home_amount
        .row-fluid
          .span2
            %b
              Production costs margin amount
          .span10
            = @client_financial_document.production_costs_margin_amount
        .row-fluid
          .span2
            %b
              Production costs margin home amount
          .span10
            = @client_financial_document.production_costs_margin_home_amount
        .row-fluid
          .span2
            %b
              Gross amount
          .span10
            = @client_financial_document.gross_amount
        .row-fluid
          .span2
            %b
              Commission amount
          .span10
            = @client_financial_document.commission_amount
        .row-fluid
          .span2
            %b
              Fees amount
          .span10
            = @client_financial_document.fees_amount
        .row-fluid
          .span2
            %b
              Production costs with margin amount
          .span10
            = @client_financial_document.production_costs_with_margin_amount
        .row-fluid
          .span2
            %b
              Nett amount
          .span10
            = @client_financial_document.nett_amount
        .row-fluid
          .span2
            %b
              Nett inc tax amount
          .span10
            = @client_financial_document.nett_inc_tax_amount
        .row-fluid
          .span2
            %b
              Gross home amount
          .span10
            = @client_financial_document.gross_home_amount
        .row-fluid
          .span2
            %b
              Commission home amount
          .span10
            = @client_financial_document.commission_home_amount
        .row-fluid
          .span2
            %b
              Fees home amount
          .span10
            = @client_financial_document.fees_home_amount
        .row-fluid
          .span2
            %b
              Production costs with margin home amount
          .span10
            = @client_financial_document.production_costs_with_margin_home_amount
        .row-fluid
          .span2
            %b
              Nett home amount
          .span10
            = @client_financial_document.nett_home_amount
        .row-fluid
          .span2
            %b
              Nett inc tax home amount
          .span10
            = @client_financial_document.nett_inc_tax_home_amount
        .row-fluid
          .span2
            %b
              Tax type
          .span10
            = @client_financial_document.tax_type
        .row-fluid
          .span2
            %b
              Tax gross amount
          .span10
            = @client_financial_document.tax_gross_amount
        .row-fluid
          .span2
            %b
              Tax nett amount
          .span10
            = @client_financial_document.tax_nett_amount
        .row-fluid
          .span2
            %b
              Exchange rate
          .span10
            = @client_financial_document.exchange_rate
        .row-fluid
          .span2
            %b
              Notes
          .span10
            = @client_financial_document.notes
        .row-fluid
          .span2
            %b
              Status reason
          .span10
            = @client_financial_document.status_reason
        .row-fluid
          .span2
            %b
              Grid layout x m l
          .span10
            = @client_financial_document.grid_layout_x_m_l
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @client_financial_document.eis_sync_date
        .row-fluid
          .span2
            %b
              Rate card unit cost gross
          .span10
            = @client_financial_document.rate_card_unit_cost_gross
        .row-fluid
          .span2
            %b
              Rate card unit cost gross home
          .span10
            = @client_financial_document.rate_card_unit_cost_gross_home
        .row-fluid
          .span2
            %b
              Rate card unit cost nett
          .span10
            = @client_financial_document.rate_card_unit_cost_nett
        .row-fluid
          .span2
            %b
              Rate card unit cost nett home
          .span10
            = @client_financial_document.rate_card_unit_cost_nett_home
        .row-fluid
          .span2
            %b
              Rate card cost gross
          .span10
            = @client_financial_document.rate_card_cost_gross
        .row-fluid
          .span2
            %b
              Rate card cost gross home
          .span10
            = @client_financial_document.rate_card_cost_gross_home
        .row-fluid
          .span2
            %b
              Rate card cost nett
          .span10
            = @client_financial_document.rate_card_cost_nett
        .row-fluid
          .span2
            %b
              Rate card cost nett home
          .span10
            = @client_financial_document.rate_card_cost_nett_home
        .row-fluid
          .span2
            %b
              Commission agency amount
          .span10
            = @client_financial_document.commission_agency_amount
        .row-fluid
          .span2
            %b
              Commission agency home amount
          .span10
            = @client_financial_document.commission_agency_home_amount
        .row-fluid
          .span2
            %b
              Effective discount amount
          .span10
            = @client_financial_document.effective_discount_amount
        .row-fluid
          .span2
            %b
              Effective discount home amount
          .span10
            = @client_financial_document.effective_discount_home_amount
        .row-fluid
          .span2
            %b
              Effective discount to client amount
          .span10
            = @client_financial_document.effective_discount_to_client_amount
        .row-fluid
          .span2
            %b
              Effective discount to client home amount
          .span10
            = @client_financial_document.effective_discount_to_client_home_amount
        .row-fluid
          .span2
            %b
              Client purchase order
          .span10
            = @client_financial_document.client_purchase_order
        .row-fluid
          .span2
            %b
              Cost minimum intermediary margin percentage
          .span10
            = @client_financial_document.cost_minimum_intermediary_margin_percentage
        .row-fluid
          .span2
            %b
              Cost minimum intermediary margin amount
          .span10
            = @client_financial_document.cost_minimum_intermediary_margin_amount
        .row-fluid
          .span2
            %b
              Cost minimum intermediary margin home amount
          .span10
            = @client_financial_document.cost_minimum_intermediary_margin_home_amount
        .row-fluid
          .span2
            %b
              Actual cost nett
          .span10
            = @client_financial_document.actual_cost_nett
        .row-fluid
          .span2
            %b
              Actual cost nett home
          .span10
            = @client_financial_document.actual_cost_nett_home
        .row-fluid
          .span2
            %b
              Company cost centre
          .span10
            = @client_financial_document.company_cost_centre
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_financial_document.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_financial_document.updated_at)
