.page-header
  %h3
    Campaign_schedule_inventory_checks
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), campaign_schedule_inventory_checks_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), campaign_schedule_inventory_checks_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => campaign_schedule_inventory_checks_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Company division
          %th
            Campaign schedule
          %th
            Supplier
          %th
            Media space
          %th
            Contact
          %th
            Communication status
          %th
            Creation source
          %th
            Gross amount
          %th
            Commission amount
          %th
            Nett amount
          %th
            Tax type
          %th
            Tax gross amount
          %th
            Tax nett amount
          %th
            Description
          %th
            Eis sync date
          %th.button3
      %tbody
        - @campaign_schedule_inventory_checks.each do |campaign_schedule_inventory_check|
          %tr
            %td
              = campaign_schedule_inventory_check.uid
            %td
              = campaign_schedule_inventory_check.code
            %td
              = campaign_schedule_inventory_check.company_division
            %td
              = campaign_schedule_inventory_check.campaign_schedule
            %td
              = campaign_schedule_inventory_check.supplier
            %td
              = campaign_schedule_inventory_check.media_space
            %td
              = campaign_schedule_inventory_check.contact
            %td
              = campaign_schedule_inventory_check.communication_status
            %td
              = campaign_schedule_inventory_check.creation_source
            %td
              = campaign_schedule_inventory_check.gross_amount
            %td
              = campaign_schedule_inventory_check.commission_amount
            %td
              = campaign_schedule_inventory_check.nett_amount
            %td
              = campaign_schedule_inventory_check.tax_type
            %td
              = campaign_schedule_inventory_check.tax_gross_amount
            %td
              = campaign_schedule_inventory_check.tax_nett_amount
            %td
              = campaign_schedule_inventory_check.description
            %td
              = campaign_schedule_inventory_check.eis_sync_date
            %td
              .btn-group
                = link_to campaign_schedule_inventory_check, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_campaign_schedule_inventory_check_path(campaign_schedule_inventory_check), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to campaign_schedule_inventory_check, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@campaign_schedule_inventory_checks)

  #new.tab-pane
    = render 'form'
