.page-header
  %h3
    Media_space_time_bands
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), media_space_time_bands_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), media_space_time_bands_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => media_space_time_bands_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Media space
          %th
            Time band name
          %th
            From time
          %th
            To time
          %th
            Is monday
          %th
            Is tuesday
          %th
            Is wednesday
          %th
            Is thursday
          %th
            Is friday
          %th
            Is saturday
          %th
            Is sunday
          %th.button3
      %tbody
        - @media_space_time_bands.each do |media_space_time_band|
          %tr
            %td
              = media_space_time_band.uid
            %td
              = media_space_time_band.code
            %td
              = media_space_time_band.media_space
            %td
              = media_space_time_band.time_band_name
            %td
              = media_space_time_band.from_time
            %td
              = media_space_time_band.to_time
            %td
              = media_space_time_band.is_monday
            %td
              = media_space_time_band.is_tuesday
            %td
              = media_space_time_band.is_wednesday
            %td
              = media_space_time_band.is_thursday
            %td
              = media_space_time_band.is_friday
            %td
              = media_space_time_band.is_saturday
            %td
              = media_space_time_band.is_sunday
            %td
              .btn-group
                = link_to media_space_time_band, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_media_space_time_band_path(media_space_time_band), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to media_space_time_band, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@media_space_time_bands)

  #new.tab-pane
    = render 'form'
