= simple_form_for(@media_owner_target, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :media_owner
    = f.association :media_target
    = f.input :is_active
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @media_owner_target,
               :cancel => media_owner_targets_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
