.page-header
  %h3
    Supplier_default_contacts
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), supplier_default_contacts_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), supplier_default_contacts_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => supplier_default_contacts_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Supplier
          %th
            Contact
          %th
            Is active
          %th
            Creation source
          %th
            Eis sync date
          %th.button3
      %tbody
        - @supplier_default_contacts.each do |supplier_default_contact|
          %tr
            %td
              = supplier_default_contact.uid
            %td
              = supplier_default_contact.code
            %td
              = supplier_default_contact.name
            %td
              = supplier_default_contact.supplier
            %td
              = supplier_default_contact.contact
            %td
              = supplier_default_contact.is_active
            %td
              = supplier_default_contact.creation_source
            %td
              = supplier_default_contact.eis_sync_date
            %td
              .btn-group
                = link_to supplier_default_contact, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_supplier_default_contact_path(supplier_default_contact), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to supplier_default_contact, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@supplier_default_contacts)

  #new.tab-pane
    = render 'form'
