= simple_form_for(@campaign_schedule_placement_fee_line, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :campaign_schedule_placement
    = f.association :media_fee_type
    = f.input :fee_percent
    = f.input :fee_amount
    = f.input :fee_home_amount
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @campaign_schedule_placement_fee_line,
               :cancel => campaign_schedule_placement_fee_lines_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
