= simple_form_for(@client_financial_document_line_fee_line, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :client_financial_document_line
    = f.association :campaign_schedule_placement_fee_line
    = f.input :fee_amount
    = f.input :fee_home_amount
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @client_financial_document_line_fee_line,
               :cancel => client_financial_document_line_fee_lines_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
