.page-header
  %h3
    Rate_cards
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to rate_cards_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_rate_card_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_rate_card_path(@rate_card) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @rate_card.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @rate_card.code
        .row-fluid
          .span2
            %b
              Specific company division
          .span10
            = @rate_card.specific_company_division
        .row-fluid
          .span2
            %b
              Supplier group
          .span10
            = @rate_card.supplier_group
        .row-fluid
          .span2
            %b
              Supplier
          .span10
            = @rate_card.supplier
        .row-fluid
          .span2
            %b
              Media space
          .span10
            = @rate_card.media_space
        .row-fluid
          .span2
            %b
              Client group
          .span10
            = @rate_card.client_group
        .row-fluid
          .span2
            %b
              Client
          .span10
            = @rate_card.client
        .row-fluid
          .span2
            %b
              Client product
          .span10
            = @rate_card.client_product
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @rate_card.is_active
        .row-fluid
          .span2
            %b
              Start date
          .span10
            = @rate_card.start_date
        .row-fluid
          .span2
            %b
              Expiry date
          .span10
            = @rate_card.expiry_date
        .row-fluid
          .span2
            %b
              Supplier contact
          .span10
            = @rate_card.supplier_contact
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@rate_card.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@rate_card.updated_at)
