= simple_form_for(@company_cost_centre, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.association :company
    = f.input :is_active
    = f.association :creation_source
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @company_cost_centre,
               :cancel => company_cost_centres_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
