.page-header
  %h3
    Client_contract_lines
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to client_contract_lines_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_client_contract_line_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_client_contract_line_path(@client_contract_line) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @client_contract_line.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @client_contract_line.code
        .row-fluid
          .span2
            %b
              Client contract
          .span10
            = @client_contract_line.client_contract
        .row-fluid
          .span2
            %b
              Campaign schedule placement
          .span10
            = @client_contract_line.campaign_schedule_placement
        .row-fluid
          .span2
            %b
              Gross amount
          .span10
            = @client_contract_line.gross_amount
        .row-fluid
          .span2
            %b
              Commission amount
          .span10
            = @client_contract_line.commission_amount
        .row-fluid
          .span2
            %b
              Nett amount
          .span10
            = @client_contract_line.nett_amount
        .row-fluid
          .span2
            %b
              Revision no
          .span10
            = @client_contract_line.revision_no
        .row-fluid
          .span2
            %b
              Notes
          .span10
            = @client_contract_line.notes
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @client_contract_line.eis_sync_date
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @client_contract_line.is_active
        .row-fluid
          .span2
            %b
              Is changed in current revision
          .span10
            = @client_contract_line.is_changed_in_current_revision
        .row-fluid
          .span2
            %b
              Revision change details
          .span10
            = @client_contract_line.revision_change_details
        .row-fluid
          .span2
            %b
              Change reason
          .span10
            = @client_contract_line.change_reason
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_contract_line.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_contract_line.updated_at)
