= simple_form_for(@company_accounting_period, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.association :company
    = f.input :start_date
    = f.input :end_date
    = f.input :is_open
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @company_accounting_period,
               :cancel => company_accounting_periods_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
