.page-header
  %h3
    Company_accounting_periods
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to company_accounting_periods_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_company_accounting_period_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_company_accounting_period_path(@company_accounting_period) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @company_accounting_period.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @company_accounting_period.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @company_accounting_period.name
        .row-fluid
          .span2
            %b
              Company
          .span10
            = @company_accounting_period.company
        .row-fluid
          .span2
            %b
              Start date
          .span10
            = @company_accounting_period.start_date
        .row-fluid
          .span2
            %b
              End date
          .span10
            = @company_accounting_period.end_date
        .row-fluid
          .span2
            %b
              Is open
          .span10
            = @company_accounting_period.is_open
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @company_accounting_period.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@company_accounting_period.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@company_accounting_period.updated_at)
