.page-header
  %h3
    Media_advert_sources
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_advert_sources_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li.active
        %a{:data => {:target => '#new', :toggle => 'tab'}}
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
    .tab-content
      #new.tab-pane.active
        = render 'form'
