= simple_form_for(@campaign_schedule_placement, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :code_external
    = f.association :media_category
    = f.association :campaign
    = f.association :campaign_schedule
    = f.association :client_product
    = f.association :client_product_sub
    = f.association :client_contact
    = f.association :creative_agency
    = f.association :creative_agency_contact
    = f.association :media_agency_client
    = f.association :media_agency_client_contact
    = f.association :natural_client
    = f.association :natural_client_product
    = f.association :natural_client_contact
    = f.association :media_space
    = f.association :business_unit
    = f.association :media_space_section
    = f.association :media_space_part
    = f.association :media_category_size
    = f.association :media_category_format
    = f.association :media_frequency_cap_type
    = f.association :supplier
    = f.association :supplier_contact
    = f.association :owner_user
    = f.association :manager_user
    = f.association :currency
    = f.input :exchange_rate
    = f.association :rate_type
    = f.association :rate_card_line
    = f.association :cost_type
    = f.input :quantity_per_unit_rate
    = f.input :quantity
    = f.input :rate_card_unit_cost_gross
    = f.input :rate_card_unit_cost_gross_home
    = f.input :rate_card_unit_cost_nett
    = f.input :rate_card_unit_cost_nett_home
    = f.input :rate_card_cost_gross
    = f.input :rate_card_cost_gross_home
    = f.input :rate_card_cost_nett
    = f.input :rate_card_cost_nett_home
    = f.input :commission_supplier_percentage
    = f.input :commission_supplier_amount
    = f.input :commission_supplier_home_amount
    = f.input :commission_agency_percentage
    = f.input :commission_agency_amount
    = f.input :commission_agency_home_amount
    = f.input :effective_discount_percentage
    = f.input :effective_discount_amount
    = f.input :effective_discount_home_amount
    = f.input :effective_discount_to_client_percentage
    = f.input :effective_discount_to_client_amount
    = f.input :effective_discount_to_client_home_amount
    = f.input :cost_gross
    = f.input :cost_gross_home
    = f.input :cost_nett
    = f.input :cost_nett_home
    = f.input :minimum_intermediary_margin_percentage
    = f.input :minimum_intermediary_margin_amount
    = f.input :minimum_intermediary_margin_home_amount
    = f.input :effective_intermediary_margin_percentage
    = f.input :effective_intermediary_margin_amount
    = f.input :effective_intermediary_margin_home_amount
    = f.input :actual_cost_nett
    = f.input :actual_cost_nett_home
    = f.input :supplier_invoiced_cost_to_date_amount
    = f.input :supplier_invoiced_cost_to_date_home_amount
    = f.input :supplier_invoiced_cost_commission_to_date_amount
    = f.input :supplier_invoiced_cost_commission_to_date_home_amount
    = f.input :supplier_invoiced_cost_nett_to_date_amount
    = f.input :supplier_invoiced_cost_nett_to_date_home_amount
    = f.input :supplier_invoiced_intermediary_margin_to_date_amount
    = f.input :supplier_invoiced_intermediary_margin_to_date_home_amount
    = f.input :supplier_invoiced_actual_cost_nett_to_date_amount
    = f.input :supplier_invoiced_actual_cost_nett_to_date_home_amount
    = f.input :fees
    = f.input :fees_home
    = f.input :fees_to_date
    = f.input :fees_to_date_home
    = f.input :production_cost_amount
    = f.input :production_cost_home_amount
    = f.input :ordered_production_cost_amount_to_date
    = f.input :ordered_production_cost_amount_to_date_home
    = f.input :supplier_invoiced_production_cost_to_date_amount
    = f.input :supplier_invoiced_production_cost_to_date_home_amount
    = f.input :effective_production_cost_margin_percentage
    = f.input :production_cost_margin_amount
    = f.input :production_cost_margin_home_amount
    = f.input :production_cost_margin_to_date_amount
    = f.input :production_cost_margin_to_date_home_amount
    = f.input :production_client_billable_amount
    = f.input :production_client_billable_home_amount
    = f.input :production_client_invoiced_to_date_amount
    = f.input :production_client_invoiced_to_date_home_amount
    = f.input :client_billable_gross_amount
    = f.input :client_billable_gross_home_amount
    = f.input :client_billable_nett_amount
    = f.input :client_billable_nett_home_amount
    = f.input :client_invoiced_to_date_cost_gross_home_amount
    = f.input :client_invoiced_to_date_cost_commission_home_amount
    = f.input :client_invoiced_to_date_cost_nett_home_amount
    = f.input :client_invoiced_to_date_gross_amount
    = f.input :client_invoiced_to_date_gross_home_amount
    = f.input :client_invoiced_to_date_fees_amount
    = f.input :client_invoiced_to_date_fees_home_amount
    = f.input :client_invoiced_to_date_production_costs_with_margin_amount
    = f.input :client_invoiced_to_date_production_costs_with_margin_home_amount
    = f.input :client_invoiced_to_date_nett_amount
    = f.input :client_invoiced_to_date_nett_home_amount
    = f.input :cost_billing_gross_home_difference_amount
    = f.input :cost_billing_commission_home_difference_amount
    = f.input :cost_billing_nett_home_difference_amount
    = f.input :supplier_invoiced_provision_gross_home_amount

  .form-actions
    = f.button :wrapped,
               :delete => @campaign_schedule_placement,
               :cancel => campaign_schedule_placements_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
