.page-header
  %h3
    Agency_commission_types
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to agency_commission_types_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_agency_commission_type_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_agency_commission_type_path(@agency_commission_type) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @agency_commission_type.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @agency_commission_type.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @agency_commission_type.name
        .row-fluid
          .span2
            %b
              Media category
          .span10
            = @agency_commission_type.media_category
        .row-fluid
          .span2
            %b
              Is calculated as nett marked up by agency comm perc
          .span10
            = @agency_commission_type.is_calculated_as_nett_marked_up_by_agency_comm_perc
        .row-fluid
          .span2
            %b
              Is calculated as gross marked up by agency comm perc
          .span10
            = @agency_commission_type.is_calculated_as_gross_marked_up_by_agency_comm_perc
        .row-fluid
          .span2
            %b
              Is default
          .span10
            = @agency_commission_type.is_default
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @agency_commission_type.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@agency_commission_type.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@agency_commission_type.updated_at)
