.page-header
  %h3
    Media_category_formats
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_category_formats_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_category_format_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_category_format_path(@media_category_format) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_category_format.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_category_format.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @media_category_format.name
        .row-fluid
          .span2
            %b
              Media category
          .span10
            = @media_category_format.media_category
        .row-fluid
          .span2
            %b
              Media space
          .span10
            = @media_category_format.media_space
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @media_category_format.is_active
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @media_category_format.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_category_format.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_category_format.updated_at)
