= simple_form_for(@client_financial_document_line_discount_line, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :client_financial_document_line
    = f.input :discount_amount
    = f.input :discount_home_amount
    = f.input :discount_to_client_amount
    = f.input :discount_to_client_home_amount
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @client_financial_document_line_discount_line,
               :cancel => client_financial_document_line_discount_lines_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
