= simple_form_for(@media_space_region, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :media_space
    = f.association :media_region
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @media_space_region,
               :cancel => media_space_regions_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
