.page-header
  %h3
    Media_space_regions
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_space_regions_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_space_region_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_space_region_path(@media_space_region) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_space_region.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_space_region.code
        .row-fluid
          .span2
            %b
              Media space
          .span10
            = @media_space_region.media_space
        .row-fluid
          .span2
            %b
              Media region
          .span10
            = @media_space_region.media_region
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @media_space_region.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_space_region.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_space_region.updated_at)
