.page-header
  %h3
    Media_discount_surcharge_types
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_discount_surcharge_types_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_discount_surcharge_type_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_discount_surcharge_type_path(@media_discount_surcharge_type) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_discount_surcharge_type.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_discount_surcharge_type.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @media_discount_surcharge_type.name
        .row-fluid
          .span2
            %b
              Media category
          .span10
            = @media_discount_surcharge_type.media_category
        .row-fluid
          .span2
            %b
              Supplier
          .span10
            = @media_discount_surcharge_type.supplier
        .row-fluid
          .span2
            %b
              Media space
          .span10
            = @media_discount_surcharge_type.media_space
        .row-fluid
          .span2
            %b
              Media space part
          .span10
            = @media_discount_surcharge_type.media_space_part
        .row-fluid
          .span2
            %b
              Media category size
          .span10
            = @media_discount_surcharge_type.media_category_size
        .row-fluid
          .span2
            %b
              Media category format
          .span10
            = @media_discount_surcharge_type.media_category_format
        .row-fluid
          .span2
            %b
              Is calculated off rate
          .span10
            = @media_discount_surcharge_type.is_calculated_off_rate
        .row-fluid
          .span2
            %b
              Is amount based
          .span10
            = @media_discount_surcharge_type.is_amount_based
        .row-fluid
          .span2
            %b
              Is full discount
          .span10
            = @media_discount_surcharge_type.is_full_discount
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @media_discount_surcharge_type.eis_sync_date
        .row-fluid
          .span2
            %b
              Is default
          .span10
            = @media_discount_surcharge_type.is_default
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @media_discount_surcharge_type.is_active
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_discount_surcharge_type.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_discount_surcharge_type.updated_at)
