= simple_form_for(@company_division, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.input :legal_name
    = f.association :company
    = f.association :default_media_category
    = f.input :item_no_suffix
    = f.input :is_active
    = f.input :is_test_division
    = f.association :contact
    = f.association :default_media_region
    = f.input :phone_number
    = f.input :phone_number2
    = f.input :fax_number
    = f.input :e_mail
    = f.input :website
    = f.input :postal_address
    = f.input :physical_address
    = f.input :company_registration_no
    = f.input :tax_registration_no
    = f.association :default_tax_type
    = f.association :default_agency_commission_type
    = f.input :default_agency_commission_percentage
    = f.input :bank_details
    = f.input :payment_terms_default
    = f.input :notes
    = f.input :report_footer
    = f.input :g_l_acc_no_sales
    = f.input :g_l_acc_no_purchases
    = f.input :g_l_acc_no_creditors_control
    = f.input :g_l_acc_no_receivable_credit_control
    = f.input :g_l_acc_no_provision_for_costs
    = f.input :g_l_acc_no_deferred_commission
    = f.association :g_l_acc_no_output_tax_type
    = f.association :g_l_acc_no_output_adjustment_tax_type
    = f.input :g_l_acc_no_inter_comp
    = f.input :g_l_acc_no_local_inter_comp
    = f.input :g_l_acc_no_receivable_credit_control3
    = f.input :g_l_acc_no_cost_of_sales
    = f.input :g_l_acc_no_stock
    = f.input :account_default_work_type_alt_ref_no
    = f.input :account_default_media_fees_alt_ref_no
    = f.input :logo_file_name
    = f.input :logo_alignment
    = f.input :logo_resizing
    = f.input :m_i_show_only_revised_placements
    = f.input :m_i_create_by_media_product
    = f.input :is_m_p_with_order_no_cancel_allowed
    = f.input :m_p_with_order_no_cancel_allowed_exception
    = f.input :is_placement_book_only_allowed_if_product_region_specified
    = f.input :is_placement_exchange_rate_updated_b4_billing
    = f.input :is_placement_size_and_columns_controlled
    = f.input :is_placement_order_no_locked
    = f.input :is_campaign_order_no_copied_to_schedule
    = f.input :is_order_no_required_for_billing_default
    = f.input :is_client_credit_profile_system_enabled
    = f.association :default_currency
    = f.input :financial_year_end
    = f.input :is_forex_system_enabled
    = f.input :is_client_fees_system_enabled
    = f.input :is_rate_cards_system_enabled
    = f.input :is_discount_cards_system_enabled
    = f.input :is_global_agency_commission_enforced
    = f.input :is_supplier_financial_document_finalize_required
    = f.input :is_chase_list_required_to_create_production_purchase_order
    = f.input :c_eis_sync_date
    = f.input :allow_overpay_of_placement
    = f.input :is_campaign_schedule_end_date_end_of_month
    = f.input :server_export_path
    = f.input :client_financial_document_footer
    = f.input :client_cost_estimate_footer
    = f.input :legal_notice
    = f.input :client_purchase_order_footer
    = f.input :production_supplier_purchase_order_footer
    = f.input :supplier_order_request_footer
    = f.input :supplier_order_footer
    = f.input :is_quantity_for_display_auto_maintained
    = f.input :chase_list_footer
    = f.input :client_contract_footer
    = f.input :postal_address1
    = f.input :postal_address2
    = f.input :physical_address1
    = f.input :physical_address2
    = f.input :phone_number3
    = f.input :phone_number4
    = f.input :fax_number1
    = f.input :fax_number2
    = f.input :e_mail1
    = f.input :e_mail2
    = f.input :is_campaign_schedule_placement_grouped_for_chase_list_wizard

  .form-actions
    = f.button :wrapped,
               :delete => @company_division,
               :cancel => company_divisions_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
