.page-header
  %h3
    Campaign_schedules
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to campaign_schedules_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_campaign_schedule_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_campaign_schedule_path(@campaign_schedule) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @campaign_schedule.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @campaign_schedule.code
        .row-fluid
          .span2
            %b
              Code external
          .span10
            = @campaign_schedule.code_external
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @campaign_schedule.name
        .row-fluid
          .span2
            %b
              Company division
          .span10
            = @campaign_schedule.company_division
        .row-fluid
          .span2
            %b
              Campaign
          .span10
            = @campaign_schedule.campaign
        .row-fluid
          .span2
            %b
              Default client product
          .span10
            = @campaign_schedule.default_client_product
        .row-fluid
          .span2
            %b
              Default client product sub
          .span10
            = @campaign_schedule.default_client_product_sub
        .row-fluid
          .span2
            %b
              Owner system app user
          .span10
            = @campaign_schedule.owner_system_app_user
        .row-fluid
          .span2
            %b
              Manager system app user
          .span10
            = @campaign_schedule.manager_system_app_user
        .row-fluid
          .span2
            %b
              Default client contact
          .span10
            = @campaign_schedule.default_client_contact
        .row-fluid
          .span2
            %b
              Default creative agency
          .span10
            = @campaign_schedule.default_creative_agency
        .row-fluid
          .span2
            %b
              Default creative agency contact
          .span10
            = @campaign_schedule.default_creative_agency_contact
        .row-fluid
          .span2
            %b
              Default media agency client
          .span10
            = @campaign_schedule.default_media_agency_client
        .row-fluid
          .span2
            %b
              Default media agency client contact
          .span10
            = @campaign_schedule.default_media_agency_client_contact
        .row-fluid
          .span2
            %b
              Default natural client
          .span10
            = @campaign_schedule.default_natural_client
        .row-fluid
          .span2
            %b
              Default natural client product
          .span10
            = @campaign_schedule.default_natural_client_product
        .row-fluid
          .span2
            %b
              Default natural client contact
          .span10
            = @campaign_schedule.default_natural_client_contact
        .row-fluid
          .span2
            %b
              Client purchase order
          .span10
            = @campaign_schedule.client_purchase_order
        .row-fluid
          .span2
            %b
              Media category
          .span10
            = @campaign_schedule.media_category
        .row-fluid
          .span2
            %b
              Media region
          .span10
            = @campaign_schedule.media_region
        .row-fluid
          .span2
            %b
              Comments
          .span10
            = @campaign_schedule.comments
        .row-fluid
          .span2
            %b
              Gross budget
          .span10
            = @campaign_schedule.gross_budget
        .row-fluid
          .span2
            %b
              Start date
          .span10
            = @campaign_schedule.start_date
        .row-fluid
          .span2
            %b
              Finish date
          .span10
            = @campaign_schedule.finish_date
        .row-fluid
          .span2
            %b
              Creation source
          .span10
            = @campaign_schedule.creation_source
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @campaign_schedule.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@campaign_schedule.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@campaign_schedule.updated_at)
