= simple_form_for(@client_cost_estimate, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :code_external
    = f.association :company
    = f.association :company_division
    = f.association :client
    = f.association :client_product
    = f.association :campaign
    = f.association :campaign_schedule
    = f.association :client_contact
    = f.association :owner_user
    = f.association :currency
    = f.association :creation_source
    = f.association :status
    = f.association :communication_status
    = f.input :actual_date
    = f.input :gross_amount
    = f.input :commission_amount
    = f.input :nett_amount
    = f.association :tax_type
    = f.input :tax_gross_amount
    = f.input :tax_nett_amount
    = f.input :exchange_rate
    = f.input :notes
    = f.input :status_reason
    = f.input :grid_layout_x_m_l
    = f.input :eis_sync_date
    = f.input :revision_no

  .form-actions
    = f.button :wrapped,
               :delete => @client_cost_estimate,
               :cancel => client_cost_estimates_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
