.page-header
  %h3
    Media_targets
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_targets_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_target_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_target_path(@media_target) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_target.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_target.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @media_target.name
        .row-fluid
          .span2
            %b
              Type
          .span10
            = @media_target.type
        .row-fluid
          .span2
            %b
              Rate increase percentage
          .span10
            = @media_target.rate_increase_percentage
        .row-fluid
          .span2
            %b
              Rate increase amount
          .span10
            = @media_target.rate_increase_amount
        .row-fluid
          .span2
            %b
              Range from amount
          .span10
            = @media_target.range_from_amount
        .row-fluid
          .span2
            %b
              Range to amount
          .span10
            = @media_target.range_to_amount
        .row-fluid
          .span2
            %b
              Is name auto maintained
          .span10
            = @media_target.is_name_auto_maintained
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @media_target.is_active
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @media_target.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_target.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_target.updated_at)
