= simple_form_for(@business_unit, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.input :is_active
    = f.association :creation_source
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @business_unit,
               :cancel => business_units_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
