.page-header
  %h3
    Media_categories_aliases
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_categories_aliases_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_categories_alias_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_categories_alias_path(@media_categories_alias) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_categories_alias.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_categories_alias.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @media_categories_alias.name
        .row-fluid
          .span2
            %b
              Media category
          .span10
            = @media_categories_alias.media_category
        .row-fluid
          .span2
            %b
              Creation source
          .span10
            = @media_categories_alias.creation_source
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_categories_alias.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_categories_alias.updated_at)
