.page-header
  %h3
    Creation_sources
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), creation_sources_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), creation_sources_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => creation_sources_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Is user
          %th
            Is user import
          %th
            Is system import
          %th.button3
      %tbody
        - @creation_sources.each do |creation_source|
          %tr
            %td
              = creation_source.uid
            %td
              = creation_source.code
            %td
              = creation_source.name
            %td
              = creation_source.is_user
            %td
              = creation_source.is_user_import
            %td
              = creation_source.is_system_import
            %td
              .btn-group
                = link_to creation_source, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_creation_source_path(creation_source), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to creation_source, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@creation_sources)

  #new.tab-pane
    = render 'form'
