.page-header
  %h3
    Communication_statuses
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), communication_statuses_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), communication_statuses_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => communication_statuses_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Is emailed
          %th
            Is printed
          %th
            Is default
          %th
            Eis sync date
          %th.button3
      %tbody
        - @communication_statuses.each do |communication_status|
          %tr
            %td
              = communication_status.uid
            %td
              = communication_status.code
            %td
              = communication_status.name
            %td
              = communication_status.is_emailed
            %td
              = communication_status.is_printed
            %td
              = communication_status.is_default
            %td
              = communication_status.eis_sync_date
            %td
              .btn-group
                = link_to communication_status, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_communication_status_path(communication_status), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to communication_status, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@communication_statuses)

  #new.tab-pane
    = render 'form'
