= simple_form_for(@production_supplier_financial_document, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :supplier
    = f.association :contact
    = f.association :status
    = f.input :production_wanted_cost_amount
    = f.input :production_wanted_cost_home_amount
    = f.input :production_cost_amount
    = f.input :production_cost_home_amount
    = f.input :production_cost_tax_amount
    = f.input :production_cost_tax_home_amount
    = f.input :production_cost_inc_tax_amount
    = f.input :production_cost_inc_tax_home_amount
    = f.association :currency
    = f.input :exchange_rate
    = f.association :tax_type
    = f.input :notes
    = f.input :actual_date
    = f.input :posting_date
    = f.association :communication_status
    = f.association :creation_source
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @production_supplier_financial_document,
               :cancel => production_supplier_financial_documents_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
