.page-header
  %h3
    Media_owner_frequency_cap_types
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), media_owner_frequency_cap_types_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), media_owner_frequency_cap_types_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => media_owner_frequency_cap_types_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Media owner
          %th
            Media frequency cap type
          %th
            Is active
          %th
            Eis sync date
          %th.button3
      %tbody
        - @media_owner_frequency_cap_types.each do |media_owner_frequency_cap_type|
          %tr
            %td
              = media_owner_frequency_cap_type.uid
            %td
              = media_owner_frequency_cap_type.code
            %td
              = media_owner_frequency_cap_type.media_owner
            %td
              = media_owner_frequency_cap_type.media_frequency_cap_type
            %td
              = media_owner_frequency_cap_type.is_active
            %td
              = media_owner_frequency_cap_type.eis_sync_date
            %td
              .btn-group
                = link_to media_owner_frequency_cap_type, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_media_owner_frequency_cap_type_path(media_owner_frequency_cap_type), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to media_owner_frequency_cap_type, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@media_owner_frequency_cap_types)

  #new.tab-pane
    = render 'form'
