= simple_form_for(@supplier_financial_document, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :code_external
    = f.association :company
    = f.association :company_division
    = f.association :supplier
    = f.association :related
    = f.association :media_category
    = f.association :owner_user
    = f.association :media_space
    = f.input :media_space_part_name
    = f.association :currency
    = f.association :creation_source
    = f.association :status
    = f.association :communication_status
    = f.input :actual_date
    = f.input :posting_date
    = f.input :range_start_date
    = f.input :range_end_date
    = f.association :tax_type
    = f.input :exchange_rate
    = f.input :payable_gross_amount
    = f.input :payable_gross_home_amount
    = f.input :payable_commission_amount
    = f.input :payable_commission_home_amount
    = f.input :payable_nett_amount
    = f.input :payable_nett_home_amount
    = f.input :payable_intermediary_margin_amount
    = f.input :payable_intermediary_margin_home_amount
    = f.input :payable_actual_nett_amount
    = f.input :payable_actual_nett_home_amount
    = f.input :payable_actual_nett_tax_amount
    = f.input :payable_actual_nett_tax_home_amount
    = f.input :payable_actual_nett_inc_tax_amount
    = f.input :payable_actual_nett_inc_tax_home_amount
    = f.input :wanted_gross_amount
    = f.input :wanted_home_gross_amount
    = f.input :wanted_commission_amount
    = f.input :wanted_commission_home_amount
    = f.input :wanted_nett_amount
    = f.input :wanted_nett_home_amount
    = f.input :wanted_intermediary_margin_amount
    = f.input :wanted_intermediary_margin_home_amount
    = f.input :wanted_actual_nett_amount
    = f.input :wanted_actual_nett_home_amount
    = f.input :wanted_actual_nett_tax_amount
    = f.input :wanted_actual_nett_tax_home_amount
    = f.input :wanted_actual_nett_inc_tax_amount
    = f.input :wanted_actual_nett_inc_tax_home_amount
    = f.input :recon_gross_amount
    = f.input :recon_gross_home_amount
    = f.input :recon_gross_tax_amount
    = f.input :recon_gross_tax_home_amount
    = f.input :recon_gross_inc_tax_amount
    = f.input :recon_gross_inc_tax_home_amount
    = f.input :recon_commission_percentage
    = f.input :recon_commission_amount
    = f.input :recon_commission_home_amount
    = f.input :recon_nett_amount
    = f.input :recon_nett_home_amount
    = f.input :recon_nett_tax_amount
    = f.input :recon_nett_tax_home_amount
    = f.input :recon_nett_inc_tax_amount
    = f.input :recon_nett_inc_tax_home_amount
    = f.input :recon_intermediary_margin_percentage
    = f.input :recon_intermediary_margin_amount
    = f.input :recon_intermediary_margin_home_amount
    = f.input :recon_actual_nett_amount
    = f.input :recon_actual_nett_home_amount
    = f.input :recon_actual_nett_tax_amount
    = f.input :recon_actual_nett_tax_home_amount
    = f.input :recon_actual_nett_inc_tax_amount
    = f.input :recon_actual_nett_inc_tax_home_amount
    = f.input :provision_gross_home_amount
    = f.input :provision_commission_home_amount
    = f.input :provision_nett_home_amount
    = f.input :notes
    = f.input :campaign_schedule_placement_code
    = f.input :campaign_code
    = f.input :media_space_contract_code
    = f.input :client_invoice_code
    = f.input :advert_no
    = f.input :supplier_order_request_code
    = f.input :supplier_order_code
    = f.input :client_search_name
    = f.input :status_reason
    = f.input :grid_layout_x_m_l
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @supplier_financial_document,
               :cancel => supplier_financial_documents_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
