.page-header
  %h3
    Client_products
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to client_products_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_client_product_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_client_product_path(@client_product) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @client_product.code
        .row-fluid
          .span2
            %b
              Code external
          .span10
            = @client_product.code_external
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @client_product.uid
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @client_product.name
        .row-fluid
          .span2
            %b
              Client
          .span10
            = @client_product.client
        .row-fluid
          .span2
            %b
              Default contact
          .span10
            = @client_product.default_contact
        .row-fluid
          .span2
            %b
              Creation source
          .span10
            = @client_product.creation_source
        .row-fluid
          .span2
            %b
              Default agency commission percentage
          .span10
            = @client_product.default_agency_commission_percentage
        .row-fluid
          .span2
            %b
              Tax registration no
          .span10
            = @client_product.tax_registration_no
        .row-fluid
          .span2
            %b
              Region
          .span10
            = @client_product.region
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @client_product.is_active
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @client_product.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_product.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@client_product.updated_at)
