= simple_form_for(@client_product_alias, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.association :client_product
    = f.association :client
    = f.input :name

  .form-actions
    = f.button :wrapped,
               :delete => @client_product_alias,
               :cancel => client_product_aliases_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
