.page-header
  %h3
    Supplier_recon_statuses
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to supplier_recon_statuses_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_supplier_recon_status_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_supplier_recon_status_path(@supplier_recon_status) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @supplier_recon_status.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @supplier_recon_status.code
        .row-fluid
          .span2
            %b
              Name
          .span10
            = @supplier_recon_status.name
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @supplier_recon_status.is_active
        .row-fluid
          .span2
            %b
              Is cancelled
          .span10
            = @supplier_recon_status.is_cancelled
        .row-fluid
          .span2
            %b
              Is on hold
          .span10
            = @supplier_recon_status.is_on_hold
        .row-fluid
          .span2
            %b
              Is approved
          .span10
            = @supplier_recon_status.is_approved
        .row-fluid
          .span2
            %b
              Is default
          .span10
            = @supplier_recon_status.is_default
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @supplier_recon_status.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@supplier_recon_status.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@supplier_recon_status.updated_at)
