.page-header
  %h3
    Client_links
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to client_links_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_client_link_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li
        = link_to @client_link do
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#edit", :"data-toggle" => "tab"}
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #edit.tab-pane.active
        = render 'form'
