.page-header
  %h3
    Campaign_schedule_placement_financial_statuses
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), campaign_schedule_placement_financial_statuses_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), campaign_schedule_placement_financial_statuses_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => campaign_schedule_placement_financial_statuses_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Is placement active
          %th
            Is placement billed
          %th
            Is placement amended
          %th
            Is placement transitioning
          %th
            Is reason required to change to
          %th
            Eis sync date
          %th.button3
      %tbody
        - @campaign_schedule_placement_financial_statuses.each do |campaign_schedule_placement_financial_status|
          %tr
            %td
              = campaign_schedule_placement_financial_status.uid
            %td
              = campaign_schedule_placement_financial_status.code
            %td
              = campaign_schedule_placement_financial_status.name
            %td
              = campaign_schedule_placement_financial_status.is_placement_active
            %td
              = campaign_schedule_placement_financial_status.is_placement_billed
            %td
              = campaign_schedule_placement_financial_status.is_placement_amended
            %td
              = campaign_schedule_placement_financial_status.is_placement_transitioning
            %td
              = campaign_schedule_placement_financial_status.is_reason_required_to_change_to
            %td
              = campaign_schedule_placement_financial_status.eis_sync_date
            %td
              .btn-group
                = link_to campaign_schedule_placement_financial_status, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_campaign_schedule_placement_financial_status_path(campaign_schedule_placement_financial_status), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to campaign_schedule_placement_financial_status, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@campaign_schedule_placement_financial_statuses)

  #new.tab-pane
    = render 'form'
