= simple_form_for(@client_type, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.input :is_financial
    = f.input :is_client
    = f.input :is_natural_client
    = f.input :is_media_agency
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @client_type,
               :cancel => client_types_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
