.page-header
  %h3
    Client_types
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), client_types_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), client_types_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => client_types_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Is financial
          %th
            Is client
          %th
            Is natural client
          %th
            Is media agency
          %th
            Eis sync date
          %th.button3
      %tbody
        - @client_types.each do |client_type|
          %tr
            %td
              = client_type.uid
            %td
              = client_type.code
            %td
              = client_type.name
            %td
              = client_type.is_financial
            %td
              = client_type.is_client
            %td
              = client_type.is_natural_client
            %td
              = client_type.is_media_agency
            %td
              = client_type.eis_sync_date
            %td
              .btn-group
                = link_to client_type, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_client_type_path(client_type), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to client_type, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@client_types)

  #new.tab-pane
    = render 'form'
