.page-header
  %h3
    Currency_lists
%ul.nav.nav-tabs
  %li.active
    %a{:href => '#list', :data => {:toggle => :tab}}
      = icon_tag('list-alt')
      = t(:list, :scope => :tabs)
  %li
    %a{:href => '#new', :data => {:toggle => :tab}}
      = icon_tag('plus')
      = t(:add_new, :scope => :tabs)

  %li.dropdown.pull-right
    %a.dropdown-toggle{:data => {:toggle => "dropdown", :target => "#"}}
      = icon_tag('arrow-circle-o-down')
      = t(:download, :scope => :tabs)
      %b.caret
    %ul.dropdown-menu.pull-right
      %li
        = link_to t(:csv, :scope => :formats), currency_lists_path(:format => :csv)
      %li
        = link_to t(:xls, :scope => :formats), currency_lists_path(:format => :xls)

.tab-content
  #list.tab-pane.active
    = render :partial => 'shared/grid_search', :locals => { :url => currency_lists_path }

    %table.table.table-striped.table-bordered.table-condensed
      %thead
        %tr
          %th
            Uid
          %th
            Code
          %th
            Name
          %th
            Company
          %th
            Company division
          %th
            Start date
          %th
            Expiry date
          %th
            Is active
          %th
            Eis sync date
          %th.button3
      %tbody
        - @currency_lists.each do |currency_list|
          %tr
            %td
              = currency_list.uid
            %td
              = currency_list.code
            %td
              = currency_list.name
            %td
              = currency_list.company
            %td
              = currency_list.company_division
            %td
              = currency_list.start_date
            %td
              = currency_list.expiry_date
            %td
              = currency_list.is_active
            %td
              = currency_list.eis_sync_date
            %td
              .btn-group
                = link_to currency_list, :title => t(:show, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('eye')
                = link_to edit_currency_list_path(currency_list), :title => t(:edit, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('pencil')
                = link_to currency_list, :method => :delete, :data => { :confirm => t(:delete_confirmation, :scope => :messages) }, :title => t(:delete, :scope => :messages), :class => [:btn, :as_tooltip] do
                  = icon_tag('times')

    .pull-right
      = paginate(@currency_lists)

  #new.tab-pane
    = render 'form'
