= simple_form_for(@media_fee_type, :html => { :class => 'form-horizontal' }) do |f|
  = f.error_messages

  .form-inputs
    = f.input :uid
    = f.input :code
    = f.input :name
    = f.association :media_category
    = f.association :supplier
    = f.association :media_space
    = f.association :media_space_part
    = f.association :media_category_size
    = f.association :media_category_format
    = f.input :is_calculated_off_rate
    = f.input :is_amount_based
    = f.input :is_default
    = f.input :is_only_allowed_once_per_placement
    = f.input :default_fee_amount
    = f.input :eis_sync_date

  .form-actions
    = f.button :wrapped,
               :delete => @media_fee_type,
               :cancel => media_fee_types_path,
               :data => { :disable_with => t(:saving, :scope => :forms) }
