.page-header
  %h3
    Campaign_schedule_briefs
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to campaign_schedule_briefs_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_campaign_schedule_brief_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_campaign_schedule_brief_path(@campaign_schedule_brief) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @campaign_schedule_brief.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @campaign_schedule_brief.code
        .row-fluid
          .span2
            %b
              Company division
          .span10
            = @campaign_schedule_brief.company_division
        .row-fluid
          .span2
            %b
              Campaign schedule
          .span10
            = @campaign_schedule_brief.campaign_schedule
        .row-fluid
          .span2
            %b
              Contact
          .span10
            = @campaign_schedule_brief.contact
        .row-fluid
          .span2
            %b
              Communication status
          .span10
            = @campaign_schedule_brief.communication_status
        .row-fluid
          .span2
            %b
              Creation source
          .span10
            = @campaign_schedule_brief.creation_source
        .row-fluid
          .span2
            %b
              Description
          .span10
            = @campaign_schedule_brief.description
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @campaign_schedule_brief.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@campaign_schedule_brief.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@campaign_schedule_brief.updated_at)
