.page-header
  %h3
    Media_space_targets
.row-fluid
  .span12
    %ul.nav.nav-tabs
      %li
        = link_to media_space_targets_path do
          = icon_tag('list-alt')
          = t(:list, :scope => :tabs)
      %li
        = link_to new_media_space_target_path do
          = icon_tag('plus')
          = t(:add_new, :scope => :tabs)
      %li.active
        %a{:"data-target" => "#show", :"data-toggle" => "tab"}
          = icon_tag('eye')
          = t(:show, :scope => :tabs)
      %li
        = link_to edit_media_space_target_path(@media_space_target) do
          = icon_tag('pencil')
          = t(:edit, :scope => :tabs)
    .tab-content
      #show.tab-pane.active
        .row-fluid
          .span2
            %b
              Uid
          .span10
            = @media_space_target.uid
        .row-fluid
          .span2
            %b
              Code
          .span10
            = @media_space_target.code
        .row-fluid
          .span2
            %b
              Media space
          .span10
            = @media_space_target.media_space
        .row-fluid
          .span2
            %b
              Media target
          .span10
            = @media_space_target.media_target
        .row-fluid
          .span2
            %b
              Is active
          .span10
            = @media_space_target.is_active
        .row-fluid
          .span2
            %b
              Eis sync date
          .span10
            = @media_space_target.eis_sync_date
        .row-fluid
          .span12
            %hr
        .row-fluid
          .span2
            %b
              = t(:created_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_space_target.created_at)
        .row-fluid
          .span2
            %b
              = t(:updated_at, :scope => :forms)
          .span10
            = time_ago_tag(@media_space_target.updated_at)
